/* Mobile View */


/* Color Schemes:

#a7d6fb
#ead9c2 */

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #a7d6fb;
}

body {
    box-sizing: border-box;
}

header {
    box-sizing: border-box;
}

.socmedbar {
    list-style: none;
}

.blogbanner {
    background-color: #ead9c2;
}

.bd-placeholder-img-lg {
    font-size: 3.5rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.ctabanner{
    background-color: black;
    height: 50vh;
}

.cta{
    color: white;
    margin-top: 13vh;
}

.cta2{
    color: white;
}

.footerbg {
    background-color: #a7d6fb;
}

/* Small Desktop View */

@media screen and (max-width: 1024px) {

    .cta{
        color: white;
        margin-top: 13vh;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
    }

    .blog-post {
        max-width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }

}

/* Wide Desktop View */

@media screen and (max-width: 1600px) {

    .blog-post {
        max-width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }

}