/* Mobile View */


/* Color Schemes:

#a7d6fb
#ead9c2 */

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #a7d6fb;
}

body {
    box-sizing: border-box;
}

header {
    box-sizing: border-box;
}

.socmedbar {
    list-style: none;
}

.herosection {
    box-sizing: border-box;
    background-color: #ead9c2;
}

.portfolioslides {
    box-sizing: border-box;
    width: 90%;
}

.services {
    max-width: 75%;
}

.aboutmegrid {
    box-sizing: border-box;
    background-color: #a7d6fb;
}

.feedbackcards {
    max-width: 40rem;
    width: 80%;
}

.clientcolorcard {
    background-color: #ead9c2;
}

.wholeclientcard {
    width: 20rem;
}

.card-title {
    font-size: 1.5em;
}

.clientfeedback {
    font-size: 1.2em;
}

footer {
    background-color: #a7d6fb;
}

/* Small Desktop View */

@media screen and (max-width: 1024px) {

    .serviceoffer {
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .aboutmegrid {
        max-height: 15%;
        size: 75%;
    }

    .wholeclientcard {
        width: 10rem;
    }

}

/* Wide Desktop View */

@media screen and (max-width: 1600px) {

    .serviceoffer {
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .aboutmegrid {
        max-height: 15%;
        size: 75%;
    }

    .wholeclientcard {
        width: 10rem;
    }
}