/* Mobile View */

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

header {
    box-sizing: border-box;
}

.socmedbar {
    list-style: none;
}

.herosection {
    box-sizing: border-box;
}

.portfolioslides {
    box-sizing: border-box;
    width: 90%;
}

.services {
    max-width: 75%;
}

.aboutme {
    box-sizing: border-box;
    max-width: 90%;
}

.feedbackcards {
    max-width: 40rem;
    width: 80%;
}

.card-title {
    font-size: 1.5em;
}

.clientfeedback {
    font-size: 1.2em;
}