/* Mobile View */


/* Color Schemes:

#a7d6fb
#ead9c2 */

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #a7d6fb;
}

body {
    box-sizing: border-box;
    background-color: #ead9c2;
}

header {
    box-sizing: border-box;
}

.socmedbar {
    list-style: none;
}


.portfolioofservices{
    margin-top: 5rem;
}

.showcaseportfolio{
    width: auto;
}

.portimg{
    width: 100%;
}

.ctabanner{
    background-color: black;
    height: 50vh;
}

.cta{
    color: white;
    margin-top: 30%;
}

.footerbg {
    background-color: #a7d6fb;
}

/* Small Desktop View */

@media screen and (max-width: 1024px) {

    .portimg {
        width: auto;
    }

}

/* Wide Desktop View */

@media screen and (max-width: 1600px) {

    .portimg {
        width: auto;
    }
}